{# CF custom template #}
{% extends 'kerko/item.html.jinja2' %}
            {%- block metas %}
                <meta charset="utf-8"> {# CAUTION: Keep this within the first 1024 characters. #}
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@LipedemaFndn" />
		<meta name="twitter:creator" content="@LipedemaFndn" />
		<meta property="og:url" content="https://www.lipedema.org/library" />
		<meta property="og:title" content="Lipedema Legato Library: " />
		<meta property="og:description" content="An orderly approach to a complex disorder" />
		<meta property="og:image" content="https://images.squarespace-cdn.com/content/v1/5775899ac534a5e813c050db/6af60963-08ea-40e8-a544-abda067ae2fa/legato_guy.png?format=500w" />
            {%- endblock metas %}
{% block item_fields_zotero %}
    {{ super() }}
    {%- for key, spec in config.KERKO_COMPOSER.fields.items() if spec.__class__.__name__ == 'LabeledFieldSpec' and item.get(key) %}
        {%- if key == 'cf_doi' %}
            {{ field(spec.label, item.get(key)|map('trim')|map('escape')|map('kerko_urlize_doi', target='_blank')|join(', ')) }}
        {%- elif key == 'cf_pmid' %}
            {%- set pmid %}
                {%- for value in item.get(key) %}
                    {%- if not loop.first %}, {% endif %}{{ '<a href="https://pubmed.ncbi.nlm.nih.gov/%(pmid)s/" target="_blank">Access article though Pubmed - %(pmid)s</a>'|format(pmid=value|trim|urlencode) }}
                {%- endfor %}
            {%- endset %}
            {{ field(spec.label, pmid) }}

	{%- elif key == 'cf_pmcid' %}
            {%- set pmcid %}
                {%- for value in item.get(key) %}
                    {%- if not loop.first %}, {% endif %}{{ '<a href="https://www.ncbi.nlm.nih.gov/labs/pmc/articles/%(pmcid)s/" target="_blank">Access article for free though Pubmed Central- %(pmcid)s</a>'|format(pmcid=value|trim|urlencode) }}
                {%- endfor %}
            {%- endset %}
            {{ field(spec.label, pmcid) }}

        {%- else %}
            {{ field(spec.label, item.get(key)|map('trim')|map('escape')|map('urlize', target='_blank')|join(', ')) }}
        {%- endif %}
    {%- endfor %}
{% endblock item_fields_zotero %}
